<template name="search">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-compact" id="myForm">
				<div class="form-group">
					<label class="muted">I'M LOOKING FOR: </label><br/>
					<input type="text" class="form-control" placeholder="job kind, tags, area" id="queryString" name="query">
				</div>
				<!-- <div class="form-group">
					<label>LOCATION</label><Br/>
					<select name="location" class="form-control"><option>Location</option></select>
				</div> -->
				<div class="form-group">
					<input type="button" class="form-control btn btn-primary" id="queryButton" value="Start search">
				</div>
			</form>
		</div>
	</div>
</template>