<template name="adminUsers">
<h4>Users</h4>
<hr>
<table class="table table-striped">
	<thead>
		 <tr>
			 <th>username</th>
			 <th>full name</th>
			 <th>email</th>
			 <th>roles</th>
			 <th colspan="2"></th>
		 </tr>
	</thead>
    <tbody>
       {{#each users}}
           {{>adminUserRow}}
       {{/each}} 
    </tbody>
</table>
</template>


<template name="adminUserRow">
        <tr>
			   
            <td class="col-sm-3"><a href="/admin/user/{{_id}}">{{usernameOrEmail}}</a></td>
            <td class="col-sm-3">{{ profile.name }}</td>
            <td class="col-sm-3">{{ email }}</td>
				
            <td class="col-sm-3">
	            {{#each roles}}
	            	<span class="label label-default">{{this}}</span> 
	            {{/each}}
            </td>
            
            <td class="col-sm-1">
                <button class="btn btn-danger btn-sm">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
</template>