<template name="adminHome">
	<div class="row">
			
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Welcome admin!</h4> 
				</div>
				<div class="panel-body">
					
					<ul class="nav" role="navigation">
						<li role="presentation" class="active"><a href="#">Manage Users</a></li>
						<li role="presentation"><a href="#">Job listings</a></li>
						<li role="presentation"><a href="#">Notifications</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="panel panel-default">
				<div class="panel-body">
				</div>
			</div>
			
		</div>
	</div>
</template>