<template name="adminHome">
	<h4 class="text-right">Welcome admin!</h4> 
	<div class="row" style="border-top: 1px solid #dedede; padding-top: 20px">
		<div class="col-sm-3" style="border-right: 1px solid #dedede">
			<ul class="nav nav-pills nav-stacked" role="navigation">
				<li role="presentation" class="active"><a href="#">Users</a></li>
				<li role="presentation"><a href="#">Job listings</a></li>
				<li role="presentation"><a href="#">Post Job</a></li>
			</ul>
		</div>
		<div class="col-sm-9">
			
		</div>
	</div>
</template>