<template name="adminDashboard">
<h4>Dashboard</h4>
<hr>
<div class="row">
    <div class="col-md-12">
		 QUICK ACTIONS
        <div class="well text-center" style="background-color: #ddeeff"> 
			  <a class="btn btn-default" href="/jobs/post">Post a new Job</a> <a class="btn btn-default" href="/admin/jobs/list/pending">Approve listing</a> <a class="btn btn-default" href="/admin/jobs/list/published">Fill position</a>
		  </div>
    </div>
    <div class="col-md-12">
        <p>LATEST NOTIFICATIONS
        <a href="/admin/notifications" class="pull-right">View all</a>
        </p>
        <div class="well">
        <ul class="list-unstyled">
	        {{#each notifications}}
            <li><strong>{{formatShortDateTime submitted}}</strong> <br/>
                {{message}}</li>
            {{else}}
            No new notifications
            {{/each}}
        </ul>
        </div>
    </div>
    <!--
<div class="col-md-4">
        <p>STATS</p>
        <div class="well">
            <dl>
              <dt>Jobs posted</dt>
              <dd>333</dd>
              <dt>Registered users</dt>
              <dd>333</dd>
              <dt>Applications sent</dt>
              <dd>333</dd>
            </dl>
        </div>
    </div>
-->
</div>
</template>