<template name="faq">

{{#markdown}}
### Frequently Asked Questions


{{/markdown}}
<p class="p2"><br>
    <dl>
    <dt>Is this platform for me?</dt>
    <dd> - If you are looking for a different mindset, or a job that includes multitasking and a way of working that does not look at where someone is, but at what we need to make the world a smarter, and better place, then yes. This platform is for you.</dd>
        <dt>I'm a Fab Academy alumni, can I use my profile page for this?</dt>
    <dd> - You can, and you should. We are working on automatic integration with this platform, but you can easily link your exsiting page to your profile here.</dd>
          <dt>I'm new to all this, where should I start?</dt>
    <dd>Ok, Either sign up to the <a href="http://www.fabacademy.org/">Fab Academy</a> and learn how to make almost anything, or find a <a href="https://www.fablabs.io/">fab lab near you</a> and get more information.</dd>    
    </dl></p>
</template>