<header class="header innerpages">
 
	<div class="container">
    
    <!-- Logo -->
    <div class="logo"><a href="/" id="logo"></a></div>
		
	<!-- Navigation Menu -->
	<nav class="menu_main">
        
	<div class="navbar yamm navbar-default">
    
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>
          <button type="button" > <i class="fa fa-bars"></i></button>
        </div>
      </div>
      
      <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
      
        <ul class="nav navbar-nav">
        
        <li class="yamm-fw"><a href="/">Home</a></li>

        
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">How it works</a>
            <ul class="dropdown-menu" role="menu">
                <li> <a href="/contest/about">About</a> </li>
                <li> <a href="/contest/rules">Official Rules</a> </li>
					 <li> <a href="/contest/evaluation">Evaluation</a> </li>
                                <li> <a href="/about/axpo">About AXPO</a> </li>
                <li> <a href="/about/fabconnections">About Fab Connections</a> </li>
                <li> <a href="/themes/axpo/PressreleaseLaunch.pdf">Press release</a> </li>
                
					 
            </ul>
        </li>
		  
		  
        
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Prizes</a>
		  
	        <ul class="dropdown-menu" role="menu">
	            <li> <a href="/hackathon/prizes">Hackathon Prizes</a> </li>
	            <li> <a href="/contest/prizes">Final Prizes</a> </li>	        
				</ul>
		  
		  </li>
		  


        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Hackathon</a>
	        	<ul class="dropdown-menu" role="menu">
	            <li> <a href="/hackathon/about">General Information</a> </li>
	            <li> <a href="/hackathon/location">Location</a> </li>	        
	            <li> <a href="http://www.eventbrite.com/e/biglietti-smart-emma-hackathon-15863664648?ref=ebtnebregn">Register</a> </li>	        
				</ul>
		  
		  
		  </li>

<!--         <li class="dropdown"><a href="/contest/entries">Entries</a></li> -->

		  <li class="dropdown"><a href="/news">News</a></li>

        <li class="dropdown"><a href="/contact">Contact</a></li>
                
        </ul>
        
      </div>
      </div>
     </div>
     
	</nav><!-- end Navigation Menu -->
    
    <div class="menu_right"><a href="/login" class="buynow">Submit your idea</a></div>
    
	</div>
    
</header>

