<template name="jobsBrowser">
 <div class="row">
	 <div class="col-sm-9">
	
         {{> Intro}}
         
		 <div class="panel panel-default">
			 <div class="panel-body">
				 {{> jobsTabs}}
			 </div>
		 </div>
		 <!-- <div class="panel panel-default">
			<div class="panel-heading">
				Skilled people looking for a job
			</div>
			<div class="panel-body">
		 	  	 {{> profileBlocks}}
		 	</div>
		 </div> -->
	 </div> <!-- col end -->
	 <div class="col-sm-3">
			{{> search}}
			{{> searchtags}}
			{{> searchfilters}}
	 </div>
 </div>
</template>