<template name="jobPostFormSubmitted">
    
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-success">
                <div class="panel-body">
            	<h1>Thank you!</h1>
            	<p class="lead">Your job listing was successfully submitted</p>
                <p class="muted">Please be aware your listing might be subject to moderation,
                    In this case you will receive confirmation when it will be published or contacted by our staff for further information.</p>
                <hr>
                <p class="text-center">
                    <button class="btn btn-success">Continue</button>
                </p>
                </div>
                
            </div>
        </div>
    </div>
    
    
</template>