<template name="jobPostForm">

<h4>Post a new job</h4>

	<div class="row">
		<div class="col-md-9">

			<div class="panel">
				<div class="panel-body">
					<form class="form-vertical" id="jobForm">

						{{> jobForm }}

						<button type="submit" class="postJob btn btn-primary btn-large pull-right" >Submit job</button><br><br>
						
					</form>
				</div>
			</div> <!-- panel end-->
		
				
		</div>
		<div class="col-md-3">
			<div class="well">
				Please fill in the required fields as precisely as possible. This way the job listing will be full searchable.
			</div>
		</div>
	
	</div>
	
</template>