<template name="footer">
<footer style="min-height: 100px">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="/about">About</a></li>
                    <li><a href="/help">Need help?</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contacts">Contacts</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="/">Featured jobs</a></li>
                    <li><a href="/">Recent jobs</a></li>
                    <li><a href="/">Top jobs</a></li>
                    <li><a href="/jobs/post">Post a job</a></li>
                    <!-- <li><a href="#">Submit your skills</a></li> -->
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="http://www.fabeconomy.com">Fab Economy</a></li>
                    <li><a href="http://fabfoundation.org">Fab Foundation</a></li>
                    <li><a href="http://fabacademy.org">Fab Academy</a></li>
                    <li><a href="http://fablabs.io">FabLabs.io</a></li>
                </ul>
            </div>
        </div>

    </div>

</footer>
</template>
