<template name="footer">
<footer style="min-height: 100px">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Need help?</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="#">Featured jobs</a></li>
                    <li><a href="#">Recent jobs</a></li>
                    <li><a href="#">Top jobs</a></li>
                    <li><a href="#">Post a job</a></li>
                    <li><a href="#">Submit your skills</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="#">Fab Economy</a></li>
                    <li><a href="#">Fab Foundation</a></li>
                    <li><a href="#">Fab Academy</a></li>
                    <li><a href="#">FabLabs.io</a></li>
                </ul>
            </div>
        </div>

    </div>

</footer>
</template>
