<template name="unauthorized">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Unauthorized</h5>
                </div>
                <div class="panel-body">
                    You don't have enough privileges to access this page.
                    Please contact the site administrator if you think
                    this is not correct.
                </div>
            </div>
        </div>
    </div>

</template>